body {
    background-color: #000 !important;
    font-family: 'Lato', sans-serif;    
    font-weight: 300;
    color: #000;
    background-color: #f4ede5;
}
  
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
    font-weight: 400; 
}

.nav-link {
    font-size: 14px;
}

a:hover {
    color: rgb(100, 100, 100);
}

#navbar-header .navbar-nav .dropdown-menu {
    border: none;
    border-bottom: 2px solid rgb(100, 100, 100);
}

.dropdown-item {
    font-weight: 300;
    font-size: 14px;
}


