<!-- Welcome Section -->
<section id="gtco-welcome" class="bg-white section-padding">
    <div class="container">
        <div class="section-content">
            <div class="row">
                <div class="col-sm-5 img-bg d-flex shadow align-items-center justify-content-center justify-content-md-end img-2" style='background-image: url("https://letb.s3-sa-east-1.amazonaws.com/decoraeventos.cl/fotos+eventos/20160415_142622.jpg");'>
                </div>
                <div class="col-sm-7 py-5 pl-md-0 pl-4">
                    <div class="heading-section pl-lg-5 ml-md-5">
                        <span class="subheading">
                            Sobre Nosotros
                        </span>
                        <h2>
                            Bienvenido a {{.Site.Title}}
                        </h2>
                    </div>
                    <div class="pl-lg-5 ml-md-5">
                        <p>Somos una empresa familiar compuesta por tres generaciones de decoradores apasionados por los eventos de todo tipo.
                        Hace más de 25 años que interpretamos tus gustos y necesidades, transformándolos escenarios reales donde construirás tus recuerdos.
                        Ambientamos matrimonios, eventos corporativos, celebraciones de fechas especiales y lo que puedas imaginar.
                        Arriendamos los muebles y elementos decorativos que necesitas para materializar tu evento.
                        Contamos con una infinidad de líneas de diseño, manejamos todos los estilos y tendencias del rubro.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of Welcome Section -->	