<!-- Team Section -->
<section id="gtco-team" class="bg-white section-padding">
    <div class="container">
        <div class="section-content">
            <div class="heading-section text-center">
                <span class="subheading">
                    Somos un 
                </span>
                <h2>
                    Equipo
                </h2>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="team-card mb-5">
                        <img class="img-fluid" src='https://letb.s3-sa-east-1.amazonaws.com/decoraeventos.cl/KENITA.jpg' alt="">
                        <div class="team-desc">
                            <h4 class="mb-0">Kena Letelier</h4>
                            <p class="mb-1">Fundadora</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="team-card mb-5">
                        <img class="img-fluid" src='https://letb.s3-sa-east-1.amazonaws.com/decoraeventos.cl/CRISTIAN.jpg' alt="">
                        <div class="team-desc">
                            <h4 class="mb-0">Cristian Valverde</h4>
                            <p class="mb-1">Productor</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="team-card mb-5">
                        <img class="img-fluid" src='https://letb.s3-sa-east-1.amazonaws.com/decoraeventos.cl/TANIA.jpg' alt="">
                        <div class="team-desc">
                            <h4 class="mb-0">Tania Díaz</h4>
                            <p class="mb-1">Diseñadora</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of Team Section -->