<!-- Testimonial Section-->
<section id="gtco-testimonial" class="overlay bg-fixed section-padding" style='background-image: url("https://letb.s3-sa-east-1.amazonaws.com/decoraeventos.cl/fotos+eventos/9874e3c5-ca51-4cd0-93c0-ebe22d6b3303.jpg");'>
    <div class="container">
        <div class="section-content">
            <div class="heading-section text-center">
                <span class="subheading">
                    Testimonios de nuestros
                </span>
                <h2>
                    felices clientes
                </h2>
            </div>
            <div class="row">
                <!-- Testimonial -->
                <div class="testi-content testi-carousel owl-carousel">
                    <div class="testi-item">
                        <i class="testi-icon fa fa-3x fa-quote-left"></i>
                        <p class="testi-text">Excelente decoración, sin duda dieron con lo que queríamos y teníamos pensado. Tania un 7, preocupada de todo y supo definir nuestro estilo. ¡Lo recomendamos!</p>
                        <p class="testi-author">Estefanía</p>
                    </div>
                    <div class="testi-item">
                        <i class="testi-icon fa fa-3x fa-quote-left"></i>
                        <p class="testi-text">Para nosotros este servicio venía incluido con lo que contratamos en Casapiedra, pero en base fue un servicio externo. Nos juntamos con Tania unas semanas antes para ver los detalles y fue muy agradable, nos guió en cuanto a los colores, los tipos de flores y el tipo de decoración acorde, nos iba haciendo un bosquejo para que nos guiáramos. Cuando fue el día de la ceremonia todo estaba aún más lindo de lo que imaginamos, nos encantó cada detalle.</p>
                        <p class="testi-author">Francisca</p>
                    </div>
                    <div class="testi-item">
                            <i class="testi-icon fa fa-3x fa-quote-left"></i>
                            <p class="testi-text">Expertos en decoración, buenos precios, productos de calidad y muy buena relación con los clientes. 100% recomendables.
                                    Se ajustaron al presupuesto que teníamos y siempre con la mejor disposición.
                                    Se dan el tiempo de ir al lugar y hacer una prueba previa al evento, lo cual deja muy tranquilo a los novios.</p>
                            <p class="testi-author">Teresa</p>
                        </div>
                </div>
                <!-- End of Testimonial -->
            </div>
        </div>
    </div>
</section>
<!-- End of Testimonial Section-->