{{define "main"}}
<body data-spy="scroll" data-target="#navbar" class="static-layout">
       		<div class="hero">
      <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-lg-6 hero-left">
                <h1 class="display-4 mb-5">{{ .Site.Params.heroText | safeHTML }}</h1>
                <div class="mb-2">
                    <a class="btn btn-primary btn-shadow btn-lg letb-btn" href="{{ .Site.BaseURL | absURL }}#gtco-menu" role="button">Revisa nuestro trabajo</a>
                </div>
            </div>
            <div class="col-lg-6 hero-right">
                <div class="owl-carousel owl-theme hero-carousel">
                    <div class="item">
                        <img class="img-fluid" src="https://letb.s3-sa-east-1.amazonaws.com/decoraeventos.cl/fotos+eventos/i-6R8RnbK-L.jpg" alt="">
                    </div>
                    <div class="item">
                        <img class="img-fluid" src="https://letb.s3-sa-east-1.amazonaws.com/decoraeventos.cl/fotos+eventos/IMG_6088.jpg" alt="">
                    </div>
                    <div class="item">
                        <img class="img-fluid" src="https://letb.s3-sa-east-1.amazonaws.com/decoraeventos.cl/fotos+eventos/IMG_20170929_190217676-2.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>	
    {{ partial "about.html" . }}	
    
    {{ partial "special.html" . }}
    
    {{ partial "menu.html" . }}

    {{ partial "testimonial.html" . }}

    {{ partial "team.html" . }}
                                    
    {{ partial "reserve.html" . }}
{{ end }}
